@media (min-width: map-get($breakpoints, "lg")) {
  #app,
  .max-container-width {
    max-width: map-get($breakpoints, "lg");
  }
}

@media (min-width: map-get($breakpoints, "xl")) {
  #app,
  .max-container-width {
    width: map-get($breakpoints, "lg");
  }
}

// TODO: remove this when we have a better solution
.green {
  color: green;
  background-color: greenyellow;
}
